


    /* cairo-regular - latin */

    
 

body {
    font-family: 'Cairo', sans-serif;
    background-color: rgb(235, 232, 240);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(70, 57, 156);
}