

@font-face {
    font-family: 'Cario';
    src:  url('./Cairo-Regular.ttf') format('ttf');
    
  }

body {
    font-family: 'Cairo', sans-serif;
    background-color: rgb(235, 232, 240);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(70, 57, 156);
}